{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<form action="/profile">
    <div class="row">
        <div class="col">
            <label for="Email">Email</label>
            <input id="Email" type="email" class="form-control" placeholder="@example.com" name="Email">
        </div>
        <div class="col">
            <label for="Password">Password</label>
            <input name="password" class="form-control" type="password" placeholder="Password">
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-success">Log In</button>
</form>
    <div>
        <form action="/new">
            <label> Dont Have A Login?</label>
            <input value="Register" type="submit">
        </form>
    </div>

{% endblock %}