{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<form action="" method="GET">
    <div class="row">
        <div class="col">
            <label for="Email">Email</label><br>
            <input id="Email" type="email" class="form-control" placeholder="@example.com" name="Email"><br><br>
        </div>
        <div class="col">
            <label for="Password">Password</label><br>
            <input name="password" class="form-control" type="password" placeholder="Password"><br><br>

        </div>
    </div>
     <input type="submit" value="LOGIN"><br><br>
</form>
    <div>
            <label> Dont Have A Login?</label>
            <a class="btn btn-success pl-2 lr-2 ml-3" href="/new"><span class="sr-only">Register</span></a>
    </div>

{% endblock %}