{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div>
<form action="/new" method="POST">
    <div class="row">
        <div class="col">
            <label for="name">Name</label>
            <input id="name" type="text" class="form-control" placeholder="First Name" name="name">
        </div>
        <div class="col">
            <label for="email">E-mail</label>
            <input id="email" type="text" class="form-control" placeholder="abc@xyz.com" name="email">
        </div>
        <div class="col">
            <label for="pass">Password</label>
            <input id="pass" type="password" class="form-control" placeholder="Password" name="pass">
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-success">Register</button>
</form>
</div>
</body>
</html>
{% endblock %}